@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@layer base {
  h1 {
    @apply font-bold text-3.5xl lg:text-7xl leading-none;
  }

  h2 {
    @apply font-bold text-base lg:text-5xl leading-none;
  }

  h3 {
    @apply font-bold text-base lg:text-4.5xl leading-none;
  }

  h4 {
    @apply font-bold text-base lg:text-3.5xl  leading-none;
  }

  h5 {
    @apply font-bold text-base lg:text-2xl  leading-none;
  }

  h6 {
    @apply font-bold text-base lg:text-xl tracking-wide;
  }

  p {
    @apply text-sm lg:text-2xl;
  }
}

@layer components {
  .checkbox-medify {
    @apply w-8 h-8 border-[3px] lg:w-14 lg:h-14 lg:border-[4px] rounded-lg accent-white border-medify-gray-100 appearance-none;
  }
  .checkbox-medify:checked {
    @apply border-medify-blue-500;
  }

  .label-text {
    @apply text-xl p-4;
  }
  .screen{
    @apply min-h-screen px-8 lg:px-7.5 py-8 lg:py-7.5 
  }
  .padding-x{
    @apply px-8 lg:px-7.5
  }

}